<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="practicaltest01.eim.systems.cs.pub.ro.licenta">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings">
            <intent-filter>
                <action android:name="android.intent.action.SETTINGS" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DeveloperInfo">
            <intent-filter>
                <action android:name="android.intent.action.DEVOPS" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GuessYourPersonality">
            <intent-filter>
                <action android:name="android.intent.action.GUESS_PERSONALITY" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GuessYourPersonalityResult">
            <intent-filter>
                <action android:name="android.intent.action.GUESS_PERSONALITY_RESULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExitGame">
            <intent-filter>
                <action android:name="android.intent.action.EXIT_GAME" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayGame">
            <intent-filter>
                <action android:name="android.intent.action.PLAY_GAME" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Multiplayer">
            <intent-filter>
                <action android:name="android.intent.action.GUESS_MULTIPLAYER" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LetterCounterActivity" />
        <activity android:name=".SayWordActivity" />
        <activity
            android:name=".GameOver"
            android:label="@string/title_activity_game_over"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GameOver2"></activity>
    </application>

</manifest>